@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root {
    --moderate_cyan: hsl(176, 50%, 47%);
    --dark_cyan: hsl(176, 72%, 28%);
    --blue: hsl(0, 0%, 0%);
    --dark_gray: hsl(0, 0%, 48%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Commissioner', sans-serif;
    min-height: 100vh;
    width: 100vw;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/image-hero-desktop.jpg') no-repeat center center/cover;
    height: 55vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-inline: 6rem;
    padding-top: 3rem;
}

.header img {
    z-index: 2;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin-inline: 1.5rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: .3s ease;
}

.nav a:hover {
    color: var(--moderate_cyan);
}

.bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    min-height: 100vh;
    position: relative;
    overflow-x: visible;
}

.bs {
    background-color: #fff;
    border: .3px solid rgba(128, 128, 128, 0.248);
    border-radius: 10px;
    width: 690px;
    margin-inline: calc(50% - 350px);
    overflow-x: visible;
    padding: 0 3rem 3rem 3rem;
}

p {
    font-size: 16px;
    color: var(--dark_gray);
    line-height: 2;
}

.bookmark_header {
    text-align: center;
    transform: translateY(-14vh);
}

.bookmark_header p {
    margin-block: 1rem;
}

.bookmark_logo {
    transform: translateY(-4vh);
}

.bookmark_header_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.mainBtn {
    background-color: var(--moderate_cyan);
    border: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: .3s ease;
}

.mainBtn:hover {
    background-color: var(--dark_cyan);
}

.bookmark_header_btns button:nth-child(2) {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    padding-right: 1.5rem;
    transition: .3s ease;
}

.bookmark_header_btns button:nth-child(2) img {
    padding-right: 1.5rem;
}

.bookmark_header_btns button:nth-child(2):hover {
    opacity: .5;
}

.bookmark_stats {
    transform: translateY(-10vh);
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.bs_top {
    display: flex;
    text-align: center;
    justify-content: center;
}

.bs_top h1 {
    font-size: 36px;
}

.bs_stat {
    width: 100%;
    padding-right: 2rem;
}

.meter {
    width: 100%;
}

.meter {
    display: block;
    width: 100%;
    height: 1.1rem;
    border-radius: 5rem;
    overflow: hidden;
    background-color: #e1e0e0;
    margin-bottom: 0.2rem;
}

.meter::-webkit-meter-bar {
    width: 100%;
    height: 1.1rem;
    border: none;
    background: none;
}

.meter::-moz-meter-bar {
    width: 100%;
    border-radius: 5rem;
    background: none;
    background: var(--moderate_cyan);
}

.meter::-webkit-meter-optimum-value {
    border-radius: 5rem;
    background: none;
    background: var(--moderate_cyan);
}

.bookmark_about {
    padding-top: 3rem;
    transform: translateY(-6vh);
}

.bookmark_about h2 {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.bookmark_about_inner {
    border: .3px solid #ccc;
    margin-block: 2rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bai_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bai_header h3 {
    font-size: 17px;
}

.bai_header span {
    color: var(--moderate_cyan);
    font-weight: 500;
}

.bai_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bai_footer h1 {
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: .7rem;
}

.bai_footer h1 small {
    font-size: 16px;
    color: var(--dark_gray);
    font-weight: 300;
}

footer {
    text-align: center;
    background-color: #eee;
    color: black;
    padding: .5rem;
}

footer a {
    color: crimson;
}

.menu {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
}

.overlay.show-overlay {
    display: block;
}

@media(max-width:740px) {
    .header {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/image-hero-mobile.jpg') no-repeat top center/cover;
        padding-inline: 3rem;
        padding-top: 3rem;
    }

    .nav {
        position: absolute;
        top: -100%;
        /* transition: .3s ease; */
        left: 50%;
        transform: translateX(-50%);
    }

    .menu {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .nav.show-nav {
        top: 20%;
        display: block;
        position: absolute;
        background-color: #fff;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 214px;
        border-radius: 15px;
        z-index: 2;
        transition-property: max-height, opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

    .nav.show-nav a {
        color: black;
        display: block;
        font-size: 24px;
        padding-block: 1.3rem;
        border-bottom: .3px solid #ccc;
    }

    .bookmark_header_btns {
        gap: .6rem;
    }

    .bs {
        width: 90%;
    }

    .bookmark_header_btns button:nth-of-type(1) {
        width: 88%;
    }

    .bookmark_header_btns button:nth-of-type(2) {
        font-size: 0;
        padding: 0;
    }

    .bookmark_header_btns button:nth-of-type(2) img {
        padding: 0;
    }

    .bs_top {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    .bs_stat {
        padding-block: 1rem;
        padding-right: 0;
    }

    hr {
        border: .3px solid #dbd9d9;
    }

    .bs_stat:nth-of-type(1) {
        padding-top: 0;
    }

    .bs_stat:nth-of-type(3) {
        padding-bottom: 0;
    }

    .bai_footer,
    .bai_header {
        flex-direction: column;
        align-items: start;
        gap: .5rem;
    }

    .bai_footer {
        gap: 1.5rem;
    }

}